@use "@styles/colours";
@use "@styles/fonts";

$label_font: "Koho Bold";
$input_font: "Koho";
$page_background: colours.$white;

$label_colour: colours.$burntorange;
$input_colour: colours.$sage;

$link_colour: colours.$loadmore;

$submit_background: colours.$sage;
$submit_colour: colours.$white;

$error_colour: colours.$red_light;

.member_details_container {
  width: 100%;
  background-color: $page_background;

  .error {
    width: 100%;
    color: $error_colour;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    font-family: $label_font;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    & div {
      width: 100%;
      padding: 0 2rem;
    }

    & button {
      width: 10rem;
      border: none;
      background-color: $submit_background;
      color: $submit_colour;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }

    a {
      color: $link_colour;
    }
  }

  .checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-family: $label_font;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 0;
    margin: 1rem 0;

    & input {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $label_font;
    font-size: 1.4rem;
    color: $label_colour;
  }

  input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: rgb(244, 244, 244);
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-family: $input_font;
    color: $input_colour;
    padding: 0 0.5rem;
  }

  .locked {
    background-color: rgb(185, 185, 185);
    color: colours.$burntorange;
  }

  .submit_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 40em) {
    .submit_button {
      justify-content: flex-start;
      margin-left: 2rem;
    }

    .error {
      justify-content: flex-start;
    }

    label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: $label_font;
      font-size: 1.8rem;
      color: $label_colour;
    }

    input {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: none;
      background-color: rgb(244, 244, 244);
      font-size: 1.8rem;
      line-height: 3rem;
      font-family: $input_font;
      color: $input_colour;
      padding: 0 0.5rem;
    }

    .checkbox {
      font-size: 1rem;
    }
  }
}
