@use "./colours";

@font-face {
  font-family: "Capture";
  src: url("/fonts/capture-regular.woff2") format("woff2"),
    url("/fonts/capture-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("/fonts/gothic-regular.woff2") format("woff2"),
    url("/fonts/gothic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic Bold";
  src: url("/fonts/gothic-bold.woff2") format("woff2"),
    url("/fonts/gothic-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Gothic Bold";
  font-size: 2em;
  color: colours.$burntorange;
  line-height: 1.75em;
  padding: 0 2%;
}

.normal_text {
  font-family: "Gothic";
  font-size: 1em;
  padding: 1em 2%;

  p {
    margin-bottom: 1em;
  }
}
