@use "./styles/colours";
@use "./styles/screen";

$website_background: colours.$grey_dark;

.website_content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $website_background;
}

.page_container {
  width: 100%;
  max-width: screen.$page_width;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
