@forward "fonts";
@use "../styles/colours";

$website_background: colours.$grey_dark;
$website_font: "Koho";

html,
body {
  width: 100%;
  background-color: $website_background;
  font-family: $website_font;
  font-size: 10px;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
