@use "../../styles/colours";

$nav_dropdown_highlight: colours.$sage;
$nav_colour_highlight: colours.$sage;
$nav_dropdown_highlight_light: colours.$sage_light;

.menu_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;

  .menu_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: $nav_dropdown_highlight;
  }

  .menu_item_dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: $nav_dropdown_highlight;

    .down_link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: none;
      border: none;
      width: 100%;
    }

    .down_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      width: 5rem;
      z-index: 2;
    }
  }

  .selected {
    border-bottom: 0.2rem solid $nav_colour_highlight;
  }

  .dropdown {
    justify-content: space-between;
    width: 100%;

    .dropdown_items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .dropdown_item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 2rem;
        background-color: $nav_dropdown_highlight_light;
      }
    }
  }
  .hide_drop_down {
    display: none;
  }
}
