@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;
$hover_colour: colours.$upload;
$upload_button_colour: colours.$upload;
$back_button_background: colours.$sage;
$back_button_colour: colours.$white;

.upload_container {
  width: 100%;
  background-color: $page_background;

  .back {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 1rem 1rem;

    .back_button {
      background-color: $back_button_background;
      color: $back_button_colour;
    }
  }

  .upload_area {
    width: 100%;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      align-items: center;
      width: 100%;
      gap: 1rem;
    }
  }
  .upload_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;
  }
}
