@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;

$cart_font: "Koho Bold";
$cart_font_colour: colours.$burntorange_dark;

$button_colour: colours.$sage;
$button_font: "Koho Bold";
$button_font_colour: colours.$white;

.cart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
  gap: 1rem;
  font-family: $cart_font;
  font-size: 1.6rem;
  color: $cart_font_colour;
}

.productspage_container {
  width: 100%;
  background-color: $page_background;
  padding: 2rem 0;

  .productWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    @media (min-width: 40em) {
      flex-direction: row;
      padding: 2rem 4rem;
    }
  }

  .productImage {
    width: 100%;
    padding: 0 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 40em) {
      width: 50%;
    }

    & > div {
      display: block !important;
    }
  }

  .productContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 0 0;
    font-family: "Koho Bold";
    font-size: 1.4rem;

    @media (min-width: 40em) {
      width: 50%;
      align-items: flex-start;
      font-size: 1.8rem;
    }
  }

  .productDescription {
    font-size: 1.6rem;
    font-family: "Koho";
    margin: 1rem 0;

    @media (min-width: 40em) {
      font-size: 1.8rem;
      margin: 2rem 0;
    }
  }

  .productPrice {
    font-size: 2.5rem;
    margin: 0.4rem 0 0;
    font-family: "Koho Bold";

    @media (min-width: 40em) {
      font-size: 2.8rem;
    }
  }

  .productBuy {
    font-size: 1.2rem;
    margin-top: 2rem;

    button {
      border: none;
      background-color: $button_colour;
      padding: 1rem 2rem;
      margin: 1rem 0;
      border-radius: 0.5rem;
      font-family: $button_font;
      color: $button_font_colour;
    }
  }
}
