@use "../../styles/colours";
@use "../../styles/screen";

$header_background: colours.$sage;

.header {
  height: 3.5rem;
  width: 100%;
  background-color: $header_background;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;

  .socials {
    padding: 0 1rem;
    max-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
