@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;

$back_button_background: colours.$sage;
$back_button_colour: colours.$white;

.event_details_container {
  width: 100%;
  background-color: $page_background;

  .back {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    .back_button {
      background-color: $back_button_background;
      color: $back_button_colour;
    }
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Koho Bold";
  font-size: 2.4rem;
  color: colours.$burntorange;
  line-height: 2.4rem;
  padding: 0 2%;
}
