@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;

.event_details_container {
  width: 100%;
  background-color: $page_background;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Koho Bold";
  font-size: 2.4rem;
  color: colours.$burntorange;
  line-height: 2.4rem;
  padding: 0 2%;
}
