@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;
$info_font: "Koho";
$info_font_size: 1.6rem;
$bold_colour: colours.$burntorange;

$map_button_background: colours.$map;
$map_button_colour: colours.$white;

$facebook_button_background: colours.$facebook;
$facebook_button_colour: colours.$white;

$ticket_button_background: colours.$ticket;
$ticket_button_colour: colours.$white;

$signup_button_background: colours.$sage;
$signup_button_colour: colours.$white;

.event_info_container {
  width: 100%;
  background-color: $page_background;

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 2rem;
    font-family: $info_font;
    font-size: $info_font_size;
    gap: 1rem;

    .bold {
      font-weight: 700;
      color: $bold_colour;
    }

    .banner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .date_time {
      font-weight: 700;
    }

    .details {
      width: 100%;

      p {
        font-size: $info_font_size;
        padding: 0;
        margin-bottom: 1rem;
      }
    }

    .map {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .map_button {
        background-color: $map_button_background;
        color: $map_button_colour;
      }
    }

    .facebook_link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .facebook_button {
        background-color: $facebook_button_background;
        color: $facebook_button_colour;
      }
    }

    .ticket_link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .ticket_button {
        background-color: $ticket_button_background;
        color: $ticket_button_colour;
      }
    }

    .signup_link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .signup_button {
        background-color: $signup_button_background;
        color: $signup_button_colour;
      }
    }
  }
}
