@use "../../styles/colours";

$nav_colour: colours.$black;

$nav_topBorderColour: colours.$sage;
$nav_background: colours.$white;
$nav_dropdown_background: colours.$grey_vlight;
$nav_dropdown_highlight: colours.$sage;
$nav_dropdown_highlight_light: colours.$sage_light;
$nav_dropdown_color: colours.$white;

.navarea {
  width: 100%;

  .qcb_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;

    .logo_text {
      font-family: "Capture";
      font-size: 3rem;
    }

    @media (min-width: 40em) {
      .logo_text {
        font-family: "Capture";
        font-size: 5rem;
      }
    }
  }

  @media (min-width: 40em) {
    .qcb_logo {
      padding-left: 10%;
    }
  }

  .h_menu {
    .hamburger_menu {
      width: 100%;
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .h_menu_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;

    .h_menu_item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid black;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem 2rem;
      background-color: $nav_dropdown_highlight;
    }

    .h_menu_dropdown {
      justify-content: space-between;

      button {
        border: none;
        background: none;
        padding: 0 2rem;
      }
    }
  }

  .aboutus_menu_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .aboutus_menu_item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid black;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem 2rem;
      background-color: $nav_dropdown_highlight_light;
    }
  }

  .menu_items {
    display: none;
  }

  @media (min-width: 40em) {
    .h_menu {
      display: none;
    }
    .h_menu_items {
      display: none;
    }
    .menu_items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-size: 2rem;
      padding-bottom: 4rem;

      /* Dropdown Button */
      .dropbtn {
        background-color: $nav_background;
        color: $nav_colour;
        font-size: 2rem;
        border: none;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown_content {
        display: none;
        position: absolute;
        background-color: $nav_dropdown_background;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown_content a {
        color: $nav_colour;
        padding: 1.2rem 1.6rem;
        font-size: 1.2rem;
        text-decoration: none;
        display: block;
      }

      /* Change color of dropdown links on hover */
      .dropdown_content a:hover {
        background-color: $nav_dropdown_highlight;
        color: $nav_dropdown_color;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown_content {
        display: block;
      }

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        color: colours.$sage;
      }
    }
  }
}
