@use "@styles/colours";

$page_background: colours.$white;

.homepage_container {
  width: 100%;
  background-color: $page_background;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;

  .carouselArea {
    width: 100%;
  }

  @media (min-width: 40em) {
    .carouselArea {
      margin-top: 5rem;
      margin-bottom: 10rem;
    }
  }

  .cardArea {
    display: block;
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  @media (min-width: 40em) {
    .cardArea {
      display: none;
    }
  }
}
