@use "@styles/colours";
@use "@styles/fonts";

$card_font: "Koho";

$card_image_background: colours.$grey-vlight;
$card_text_background: colours.$sage-light;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    max-height: 20rem;
    background-color: $card_image_background;
  }

  .text {
    width: 100%;
    height: fit-content;
    font-size: 1.6rem;
    padding: 2rem;
    font-family: $card_font;
    background-color: $card_text_background;
  }
}
