@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;

$cart_font: "Koho Bold";
$cart_font_colour: colours.$burntorange_dark;
$product_background: colours.$grey_vlight;
$product_name: colours.$burntorange;
$product_price: colours.$black;
$button_colour: colours.$sage;
$button_font: "Koho Bold";
$button_font_colour: colours.$white;

.hero {
  position: relative;
  margin: 4em 0;

  @media (max-width: 720px) {
    margin-top: 0;
  }
}

.heroLink {
  display: flex;

  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
  padding-left: 3em;

  h2 {
    font-size: 3.5em;
    margin: 0;

    @media (max-width: 1024px) {
      font-size: 5vw;
    }

    @media (max-width: 640px) {
      font-size: 2em;
    }
  }

  p {
    font-size: 2em;
    margin-top: 0.5em;

    @media (max-width: 1024px) {
      font-size: 2.8vw;
    }

    @media (max-width: 640px) {
      font-size: 1em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.heroImage {
  width: 100%;
  height: 100%;

  @media (max-width: 720px) {
    order: 1;
  }
}

.shoppage_container {
  width: 100%;
  background-color: $page_background;
  padding: 0 0 2rem 0;

  .products_container {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0;

    .cart {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;
      gap: 1rem;
      font-family: $cart_font;
      font-size: 1.6rem;
      color: $cart_font_colour;
    }

    .product {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background-color: $product_background;

      .product_image {
        background-color: $page_background;
      }

      .product_name {
        width: 100%;
        font-family: $button_font;
        color: $product_name;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .product_price {
        width: 100%;
        font-family: $button_font;
        color: $product_price;
        font-size: 1.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .product_add {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;

        button {
          border: none;
          background-color: $button_colour;
          padding: 1rem 2rem;
          margin: 1rem 0;
          border-radius: 0.5rem;
          font-family: $button_font;
          color: $button_font_colour;
        }
      }
    }
  }
}

@media (min-width: 40em) {
  .shoppage_container {
    flex-direction: row;

    .products_container {
      width: 100%;
      flex-direction: row;

      .cart {
        padding-right: 5rem;
      }

      .product {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: $product_background;

        .product_image {
          background-color: $page_background;
        }

        .product_name {
          width: 100%;
          font-family: $button_font;
          color: $product_name;
          font-size: 2rem;
          font-weight: 700;

          justify-content: flex-start;
        }

        .product_price {
          width: 100%;
          font-family: $button_font;
          color: $product_price;
          font-size: 1.6rem;
          font-weight: 700;
          justify-content: flex-start;
        }

        .product_add {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;

          button {
            border: none;
            background-color: $button_colour;
            padding: 1rem 2rem;
            margin: 1rem 0;
            border-radius: 0.5rem;
            font-family: $button_font;
            color: $button_font_colour;
          }
        }
      }
    }
  }
}
