@use "@styles/fonts";
@use "@styles/colours";

$name_colour: colours.$burntorange;
$location_colour: colours.$sage;

.biocard_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5% 10%;
  gap: 2rem;

  .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    .name {
      max-width: 90%;
      min-height: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: $name_colour;
      padding-left: 1rem;

      h2 {
        color: $location_colour;
      }
    }

    .description {
      max-width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name_flip {
      width: 100%;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $name_colour;
      padding-right: 1rem;
    }

    .description_flip {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .seperator_bar {
    display: block;
    width: 40%;
  }

  .seperator_bar_flip {
    width: 40%;
    display: none;
  }
}

@media (min-width: 40em) {
  .biocard_container {
    flex-direction: row;

    .photo {
      width: fit-content;
    }
    .info {
      justify-content: flex-end;
      .name {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
      }
      .description {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
      }
      .name_flip {
        width: 100%;
        align-items: center;
        justify-content: flex-end;
      }
      .description_flip {
        justify-content: flex-end;
        text-align: right;
      }
    }

    .seperator_bar {
      display: none;
    }

    .seperator_bar_flip {
      display: none;
    }
  }
}
