$sage: #8ea276;
$sage_light: #c5cfb9;
$sage_dark: #6c7f56;

$burntorange: #bd5b16;
$burntorange_light: #f2bc95;
$burntorange_dark: #9f4c12;

$grey: #a6aaae;
$grey_light: #c1c4c7;
$grey_vlight: #f1f2f3;
$grey_dark: #666b70;

$black: #000000;
$white: #ffffff;
$red: #a53535;
$red_light: #fc4a4a;

$facebook: #4267b2;
$ticket: #ff8000;
$map: #bb37bb;
$upload: blueviolet;
$loadmore: rgb(255, 149, 0);
