@use "@styles/colours";

@font-face {
  font-family: "Capture";
  src: url("/fonts/capture-regular.woff2") format("woff2"),
    url("/fonts/capture-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("/fonts/gothic-regular.woff2") format("woff2"),
    url("/fonts/gothic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic Bold";
  src: url("/fonts/gothic-bold.woff2") format("woff2"),
    url("/fonts/gothic-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Koho";
  src: url("/fonts/koho-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Koho Bold";
  src: url("/fonts/koho-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BowlbyOne";
  src: url("/fonts/bowlbyone-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Koho Bold";
  font-size: 2.4em;
  color: colours.$burntorange;
  line-height: 1.75em;
  padding: 0 2%;
}

.normal_text {
  font-family: "Koho";
  font-size: 1.6em;
  padding: 1em 2%;

  p {
    margin-bottom: 1em;
  }
}

.pages {
  margin-bottom: 1em;

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Koho Bold";
    font-size: 2.4em;
    color: colours.$burntorange;
    line-height: 1.75em;
    padding: 0 2%;
  }

  p {
    font-family: "Koho";
    font-size: 1.6em;
    padding: 1em 2%;
  }

  a:hover {
    color: colours.$burntorange;
  }
}
