@use "@styles/colours";

$button_font: "Koho Bold";
$button_background: colours.$burntorange;
$button_colour: colours.$white;

$heading_font: "Koho Bold";
$heading_colour: colours.$burntorange;
$heading_font_size: 2.4rem;

$normal_font: "Koho";
$normal_colour: colours.$black;
$normal_font_size: 1.6rem;

@font-face {
  font-family: "Charcoal";
  src: url("/fonts/charcoal-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("/fonts/gothic-regular.woff2") format("woff2"),
    url("/fonts/gothic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic Bold";
  src: url("/fonts/gothic-bold.woff2") format("woff2"),
    url("/fonts/gothic-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Koho";
  src: url("/fonts/koho-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Koho Bold";
  src: url("/fonts/koho-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BowlbyOne";
  src: url("/fonts/bowlbyone-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Koho Bold";
  font-size: 2.4rem;
  color: colours.$burntorange;
  line-height: 2.4rem;
  padding: 0 2%;
}

.normal_text {
  font-family: $normal_font;
  font-size: $normal_font_size;
  padding: 1em 2%;

  p {
    margin-bottom: 1rem;
  }
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  margin-bottom: 1rem;
  //padding-left: 2rem;
  width: 100%;

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $heading_font;
    font-size: $heading_font_size;
    color: $heading_colour;
    line-height: 1rem;
    padding: 0 2%;
  }

  p {
    font-family: $normal_font;
    font-size: $normal_font_size;
    padding: 1em 2%;
  }

  a:hover {
    color: colours.$burntorange;
  }

  ul,
  ol {
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: 2rem;
    text-align: left;

    li {
      font-family: $normal_font;
      font-size: $normal_font_size;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $button_font;
    font-size: 1.6rem;
    background-color: $button_background;
    color: $button_colour;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
  }
}
@media (min-width: 40em) {
  .pages {
    margin-bottom: 1rem;
    width: 100%;

    h1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: "Koho Bold";
      font-size: 2.4rem;
      color: colours.$burntorange;
      line-height: 1.75rem;
      padding: 0 2%;
    }

    p {
      font-family: "Koho";
      font-size: 1.6em;
      padding: 1em 2%;
    }

    a:hover {
      color: colours.$burntorange;
    }

    ul,
    ol {
      padding-top: 1rem;
      padding-left: 4rem;
      margin-left: 2rem;
      text-align: left;

      li {
        font-family: "Koho";
        font-size: 1.6rem;
      }
    }
  }
}
