@use "../../styles/colours";

$footer_background: colours.$sage;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $footer_background;
  color: white;
  width: 100%;
  padding: 0 1rem;
  min-height: 5rem;

  .legal {
    display: flex;
    flex-direction: column;
    color: white;

    .copyright {
      font-weight: 700;
    }
  }

  .socials {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }
}
