@use "@styles/colours";
@use "@styles/fonts";

$page_background: colours.$white;

.dashboard_container {
  width: 100%;
  background-color: $page_background;

  .sign_out_button {
    padding-left: 2rem;
  }
}
